<!DOCTYPE html>
<html lang="en">
<%- include('../headFoot/head') %>
  <title>Attendance-Tracker Edit Teacher</title>
  <link rel="stylesheet" href="/cssFolder/login.css">
  <style>
    #deleteColTeacher {
      position: absolute;
      top: 28%;
      left: 39.5%;
      z-index: 10000;
      display: none;
    }

    #alertSt {
      color: red;
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
    }
  </style>

  <body>
    <div class="overlay" id="overlay"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link textSize" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active textSize" aria-current="page">Edit Teacher's Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textSize" href="/Attendance-Tracker/userGuide">User Guide</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Flash Message... -->
    <%- include('../headFoot/flashMsg.ejs') %>
      <!-- Flash Message... -->

      <div class="top">Attendance Tracker</div>

      <form id="editTeacherByCollege" method="post"
        action="/Attendance-Tracker/<%=collId%>/<%=tecId%>/Edit-Teacher-Data?_method=put" class="needs-validation"
        novalidate>
        <div class="card formCard">
          <div class="card-body">
            <h2 class="card-title" style="align-items: center; text-align: center;">Edit Teacher's Data</h2>
            <div class="form-floating mb-3 mt-3">
              <input type="text" name="tName" class="form-control inp1" id="floatingn" value="<%=tecData.teacherName%>"
                placeholder="Teacher's Name" required>
              <label for="floatingn">Teacher's Name</label>
            </div>
            <div class="form-floating mb-3">
              <select disabled class="form-select inp1" name="tGender" id="floatingSelectG"
                aria-label="Floating label select example" required>
                <option value="" disabled selected>Teacher's Gender</option>
                <option <%=tecData.gender==="Male" ? 'selected' :''%>>Male</option>
                <option <%=tecData.gender==="Female" ? 'selected' :''%>>Female</option>
              </select>
              <label for="floatingSelectG">Teacher's Gender</label>
            </div>
            <div class="form-floating">
              <input name="tId" class="form-control inp1" value="<%=tecData.idNo%>" id="floatingId"
                placeholder="Teacher's ID" required>
              <label for="floatingnId">Teacher's ID</label>
            </div>
          </div>
          <div class="logins" style="display: flex; justify-content: space-evenly;">
            <button type="button" class="btn btn-danger mb-3 logInfo" id="deleteCurrTech">Delete</button>
            <button type="submit" class="btn btn-primary mb-3 editTeacherByCollege">Update</button>
            <a href="/Attendance-Tracker/<%=collId%>/College-Page"><button type="button"
                class="btn btn-success mb-3 logInfo">Cancle</button></a>
          </div>
        </div>
      </form>

      <!-- Alert to delete teacher -->
      <div class="card" style="width: 20rem;" id="deleteColTeacher">
        <div class="card-body">
          <i class="fa-solid fa-triangle-exclamation" id="alertSt"></i>
          <h4 class="card-subtitle mb-2 text-body-secondary" style="margin-top: 5px;text-align: center;">Are You Sure ?
          </h4>
          <p class="card-text" style="margin-top: 5px;text-align: center;">It will permanently delete all data and
            accounts related to <strong>
              <%=tecData.teacherName%>
            </strong> , ID No. <strong>
              <%=tecData.idNo%>
            </strong>. The deleted data cannot be restored.</p>
          <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <form id="deleteTeacherByCollege"
              action="/Attendance-Tracker/<%=collId%>/<%=tecId%>/collegeTeacher-Destroy?_method=Delete" method="post">
              <a href="#" class="card-link"><button type="submit" class="btn btn-danger deleteTeacherByCollege">Delete
                  it</button></a>
            </form>
            <button type="button" id="cancleDel" class="btn btn-primary">Cancle it</button>
          </div>
        </div>
      </div>
      <!-- Alert to delete teacher -->

      <%-include('../headFoot/footer.ejs')%>

        <script>
          let deleteCurrTech = document.querySelector("#deleteCurrTech");
          let deleteColTeacher = document.querySelector("#deleteColTeacher");
          let cancleDel = document.querySelector("#cancleDel");
          deleteCurrTech.addEventListener("click", function () {
            deleteColTeacher.style.display = "block";
            overlay.style.display = "block";
          })
          cancleDel.addEventListener("click", function () {
            deleteColTeacher.style.display = "none";
            overlay.style.display = "none";
          })
          let submit_1 = 'editTeacherByCollege';
          document.querySelector(`.${submit_1}`).addEventListener('click', (e) => {
            addingEffects(submit_1);
          });

          let submit_2 = 'deleteTeacherByCollege';
          document.querySelector(`.${submit_2}`).addEventListener('click', (e) => {
            document.querySelector('#cancleDel').style.display='none';
            setLoadingEffect(document.querySelector(`.${submit_2}`))
          });
        </script>
        <script src="/scriptFolder/inputData.js"></script>
        <script src="/scriptFolder/loadingEffect.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
  </body>
</html>