<!DOCTYPE html>
<html lang="en">
<%- include('../headFoot/head') %>
  <title>Attendance-Tracker Verify Code</title>
  <link rel="stylesheet" href="/cssFolder/login.css">

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link textSize" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active textSize" aria-current="page">Verify E-mail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textSize" href="/Attendance-Tracker/userGuide">User Guide</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Flash Message... -->
    <%- include('../headFoot/flashMsg.ejs') %>
      <!-- Flash Message... -->

      <div class="top">Attendance Tracker</div>

      <form id="collegeVerificationCodeForm" method="post"
        action="/Attendance-Tracker/<%=currCollege._id%>/Verify-College-Password-Code" class="needs-validation"
        novalidate>
        <div class="card formCard">
          <div class="card-body">
            <h2 class="card-title" style="align-items: center; text-align: center;">E-mail Verification</h2>
            <p style="text-align: center;" id="enterMsg">Please enter the 4-digit verification code you received at
              <strong>
                <%=currCollege.eMail%>
              </strong> to change your password.</p>
            <div class="form-floating mt-3">
              <input name="code" class="form-control inp1" id="enterCode" placeholder="Enter Verification Code" required
                maxlength="4">
              <label for="enterCode">Enter Verification Code</label>
            </div>
            <div id="countdown" style="text-align: center; margin-top: 10px;"></div>
          </div>
          <button type="submit" style="width: 12rem; margin: auto;" id="registerButton"
            class="btn btn-primary mb-3 collegeVerificationCodeForm">Verify</button>
        </div>
      </form>

      <%-include('../headFoot/footer.ejs')%>

        <script>
          let submit_1 = 'collegeVerificationCodeForm';
          document.querySelector(`.${submit_1}`).addEventListener('click', (e) => {
            addingEffects(submit_1);
          });
        </script>
        <script src="/scriptFolder/emailVerify.js"></script>
        <script src="/scriptFolder/inputData.js"></script>
        <script src="/scriptFolder/loadingEffect.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
  </body>
</html>