<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance-Tracker Student's-Page</title>
    <link rel="icon" href="/imageFolder/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=DM+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Revolution&family=Roboto+Slab:wght@100..900&family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/cssFolder/stPage.css">
    <link rel="stylesheet" href="/cssFolder/footer.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="/"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link textSize" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active textSize" aria-current="page">Student's Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textSize" href="/Attendence-Tracker/userGuide">User Guide</a>
              </li>
              <li class="nav-item">
                <a class="nav-link textSize" href="/">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="top">Attendance Tracker</div>

    <!-- Student data -->
    <div class="container">
      <div class="student-details">
          <div class="student-card">
              <h2><%=findStudent.studentName%></h2>
              <p><strong>Roll No: </strong><%=findStudent.studentRollNo%></p>
              <p><strong>Semester: </strong><%=findStudent.studentSemester%></p>
              <p><strong>Section: </strong><%=findStudent.studentSection%></p>
              <p><strong>College: </strong><%=findStudent.college%></p>
          </div>
      </div>
  </div>
  <!-- Student data -->

    <div id="graphBoxs">
        <%if(findStudent.allAttendence.length>0){%>
            <%for(attend of findStudent.allAttendence){%>
              <div class="box">
              <div class="subName centerItems"><h5><%=attend.subject%></h5></div>
              <div class="progress backColor " role="progressbar" aria-label="Animated striped example Danger striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" id="barPer"><h7 class="percentage"><%=attend.classPercent%> %</h7></div>
              </div>
            </div>
            <%}%>
        <%}%>
    </div>
    <div id="foot" class="stFoot">
        <div class="icons">
            <a href="#"><div class="iconbox"><i class="fa-brands fa-linkedin-in"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-twitter"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-git"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-instagram"></i></div></a>
        </div>
        <i class="fa-regular fa-copyright"></i> 2024
        Attendance Tracker India, All Rights Reserved.
    </div>

    <script src="/scriptFolder/stPage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>